body {
}

p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*This is a comment*/
/*This is a class. It can be used to style*/
.funkyFresh {
    color: burlywood;
    font-family:'Franklin Gothic';
    font-size: 22px
}

/*The more specific id "trumps" the less specific class*/
/*IDs are only supposed to be used in one place EVER*/
#theThird {
    color: blueviolet;
}

/*This is a group*/
h1,h3,h6 {
    font-family:'Comic Sans MS';
    text-align:right;
}

/*A hieracrchy affecting all list items inside of an ordered list */
ol li {
    font-size:15px;
    font-family: 'Amatic SC', cursive;
}